node_modules
# ts -> js
!dist/.gitkeep
dist/ts/*
!dist/ts/.gitkeep
dist/view/*
!dist/view/.gitkeep
dist/node/*
# js - [babel] -> js
dist.babel
# scss -> css
public/css/*.css
!public/css/index.min.js
# bin -> tile
bin/tile/.vs
bin/tile/dll.Tile/obj
bin/tile/dll.Tile/bin/Debug
bin/tile/dll.Tile/bin/Release/*pdb
bin/tile/app.GetTile/app.GetTile.csproj.user
bin/tile/app.GetTile/obj
bin/tile/app.GetTile/bin/Release/*pdb
