node_modules
# tsc, babel -> js
dist
# public - tsc, babel, webpack -> js
public/js/*.js
public/js/*.LICENSE.txt
# public - scss -> css
public/css/index*.css
# bin -> tile
bin/tile/.vs
bin/tile/dll.Tile/obj
bin/tile/dll.Tile/bin/Debug
bin/tile/dll.Tile/bin/Release/*pdb
bin/tile/app.GetTile/app.GetTile.csproj.user
bin/tile/app.GetTile/obj
bin/tile/app.GetTile/bin/Release/*pdb
# mongo
logs
!logs/.gitkeep
