# フォルダー
node_modules
bin
cypress
dist
logs
mongo
redis
public
public.next
.husky
.next
.pm2

# ファイル
.gitignore
.prettierrc.js
README.md
package.json
package-lock.json

# docker
docker/Dockerfile*
*.sh
