body {
	margin: 10px;
}

dl {
	border: 1px solid #808080;
	display: table-row;

	dt,
	dd {
		display: table-cell;
		border-left: 1px solid #808080;
		border-bottom: 1px solid #808080;
		padding: 5px;
	}

	dt {
		background-color: #ddd;
	}
}

table {
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	margin: 5px;

	tr {
		&:last-child th {
			border-bottom: none;
		}

		&:last-child td {
			border-bottom: none;
		}

		th,
		td {
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 10px 20px;
		}

		th {
			background: #eee;

			&:nth-of-type(1) {
				border-left: none;
			}
		}

		td {
			&:nth-of-type(1) {
				border-left: none;
			}
		}
	}
}

.contents {
	padding: 5px;
	display: none;
}

.contentsDistanceTable {
	width: 100%;
	overflow: scroll;
}

.contentsDistanceTableWidth {
	width: 1420px;
}

.contentsSelect {
	margin: 10px;

	button {
		width: 100%;
		text-align: left;
	}

	div {
		width: 100%;
	}
}

.contentsUpload {
	margin: 10px;
	padding: 20px;
	border: 2px dotted rgb(6, 131, 214);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgb(193, 229, 253);
}

.contentsGpxFname {
	margin: 10px;
	font-size: 16px;
	height: 24px;
	border-bottom: 1px dotted rgb(155, 155, 155);
}

.contentsGpxChart {
	margin: 10px;
}
